// GENERAL PROJECT STYLES
figure {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $textcolor;
    &:hover {
        color: $textcolor;
    }
}

.img-responce {
    width: 100%;
}

br {
    @include media-breakpoint-down(md) { 
        display: none;
    }
}
