// GENERAL PROJECT STYLES
figure {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $textcolor;
    &:hover {
        color: $textcolor;
    }
}


.img-responce {
    width: 100%;
}

.list {
    list-style: none;
    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        position: relative;
        &::before {
            content: url('../images/dist/icon-list.svg');
            margin-right: 10px;
        }
    }

    &--font-24 {
        font-size: 24px;
    }

    &--icons-white {
        .list__item {
            &::before {
                content: url('../images/dist/icon-list-white.svg');
            }
        }
    }
}

.author {
    display: flex;
    align-content: center;
    margin-bottom: 30px;
    &__avatar {
        background-repeat: no-repeat;
        width: 46px;
        height: 46px;
        margin-right: 10px;
    }

    &__name {
        margin-bottom: 0;
    }
}

.slider {
    .slick-slide {
        margin: 0 15px;
    }
}

.reviews {
    &__content {
        margin: 0 auto;
        max-width: 80%;
    }
}