.btn {
    background: $accent;
    border-radius: 15px;
    color: $white;
	display: flex;
	align-items: center;
	font-size: 24px;
	line-height: 28px;
	border-radius: 15px;
	padding: 8px 21px;
	max-width: 270px;
	display: flex;
	align-items: center;
    border: 1px solid $accent;
    justify-content: center;
	&__icon {
		margin-right: 15px;
	}
	&:hover {
		color: $white;
	}

    &--fz {
        &-14 {
            font-size: 14px;
        }
    }

    &--color {
       &-black {
           color: $textcolor;
       }
    }

	&--bg {
		&-green {
            border: 1px solid $green;
			background: $green;
		}

        &-white {
            background: $white;
            border: 1px solid $white;
            &:hover {
                color: $textcolor;
            }
        }
	}

    @include media-breakpoint-down(lg) { 
        margin: 10px auto 0 auto;
    }
}