.field {
    background: #3E3BEC;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: center;
    padding: 8px;
    color: $white;
    border: 0;
    margin-bottom: 10px;
    width: 100%;
    &::placeholder {
        color: $white;
    }

    &--filter {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}