.h1 {
    font-size: 48px;
    line-height: 56px;
}

.h2 {
    font-size: 36px;
    line-height: 42px;
}

.h3 {
    font-size: 24px;
    line-height: 28px;
}

.fw {
    &--400 {
        font-weight: 400;
    }
}

.fz-14 {
    font-size: 14px;
}

.text {
    &--accent {
        color: $accent;
    }
    &--red {
        color: #991616;
    }
    &--center {
        text-align: center;
    }
}

.list-style-none {
    list-style: none;
}