// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: roboto-oh5, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import '~bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import '~bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import '~bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import '~bootstrap/scss/_utilities.scss' // Optional Bootstrap Utilites
// @import '~slick-carousel/slick/slick.scss';

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
	}
}

@include font('VisueltPro', normal, 400, '/fonts/VisueltPro-Regular.woff2');
@include font('VisueltPro', normal, 700, '/fonts/VisueltPro-Bold.woff2');
@include font('VisueltPro', normal, 300, '/fonts/VisueltPro-Light.woff2');
@include font('VisueltPro', normal, 500, '/fonts/VisueltPro-Medium.woff2');
@include font('VisueltPro', normal, 900, '/fonts/VisueltPro-Black.woff2');

// GENERAL CSS SETTINGS

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}

	&:required:valid {
		border-color: green;
	}
}


body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	letter-spacing: 0.02em;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
